# Sau khi deploy contract, dán Contract ID vào đây (bắt đầu bằng chữ C...)
VITE_CONTRACT_ID=CA62J42LD6TGO4Y2L37T2VTNYDTWIBGSRHQSSDSXNA6WSBVZ5VZVNYMO

# Testnet mặc định. Đổi sang mainnet khi sẵn sàng.
VITE_RPC_URL=https://soroban-testnet.stellar.org
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
